h1{
	margin-left: 8px!important;
	text-align: center;
}

h2{
	text-align: center;
}
ul{
	list-style:none;
}

html, body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0,168,201);
}

.main_map {
	flex:3;
	height: 105%;
	z-index: 1;
}

.header {
	padding-left: 40px;
	padding-top: 15px;
}

.info{
	flex:2;
	padding-left: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
	height: 80%;
}
